<section class="section bg-light">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-12 col-md-12 col-12 text-center">
                <div class="section-title">
                    <h4 class="title title-dark mb-4">Participate</h4>
                    <p class=" mb-0">Having the right active delegate is important for the network. <br> Usually each public delegate offers a share in rewards, sometimes in combination with additional contribution to the network or project. <br> A delegate can contribute
                        to the security of the network or contribute towards marketing, community and product development, which could return in short term or long term a better value for the asset and project.
                    </p>
                </div>
                <div class="mt-4">
                    <a href="/staking" class="btn btn-primary">Learn More <svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg></a>
                </div>
            </div>
        </div>
    </div>
</section>