<section style="margin-bottom:100px;">
    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <!-- sxptodo replace image -->
            <div class="col-lg-5 col-md-6 order-1 order-md-2">
                <img src="/assets/images/solar/blockchain1.png" class="img-fluid" alt="">
            </div>


            <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">Build tools and <br> explore all features</h4>
                    <p class="text-muted">The Solar Blockchain provides the end-user with rich libraries and tools to develop projects on the blockchain for many usecases.
                    </p>
                    <ul class="list-unstyled text-muted">
                        <li class="mb-1"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Decentralised Applications
                        </li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Fungible and non-fungible tokens
                        </li>
                        <li class="mb-1"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Games
                        </li>
                    </ul>
                    <div class="mt-4 pt-2">
                        <a href="/core" class="btn btn-primary me-2">Explore Core</a>
                        <a href="/core#documentation" class="btn btn-outline-primary">Documentation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-4">Ready to get started?</h4>
                    <p class="para-desc mx-auto text-muted mb-0">Download the Solar wallet for your operating system. <br>All of our software is open source and the code can be viewed in the Solar Network
                        <a href="https://github.com/solar-network" target="_blank">Github</a>.
                    </p>
                </div>
            </div>
            <!-- sxptodo change images -->
            <div class="row justify-content-center text-center">
                <div class="mt-4">
                    <a href="/wallets" class="btn btn-primary">Download Wallet</a>
                </div>
            </div>
        </div>
    </div>
</section>