<section class="bg-half-170 bg-light d-table w-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-12">
                <div class="title-heading">
                    <h1 class="fw-bold mt-2 mb-3">Solar Blockchain Foundation </h1>
                    <p class="para-desc text-muted">The Solar Blockchain Foundation <span class="badge rounded-pill bg-soft-primary">SBF</span> <br>is a non-profit organisation dedicated to supporting the SXP blockchain and related technologies.</p>
                    <div class="mt-4 pt-2">
                        <a href="/about-solar" class="btn btn-primary me-2">Learn more</a>
                        <a href="/core#documentation" class="btn btn-outline-primary">Documentation</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <img src="assets/images/solar/solarheader.png" class="img-fluid d-block mx-auto" alt="">
            </div>
        </div>
    </div>
</section>
<section class="py-4 border-top bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <a href="https://www.bitget.com/en/spot/sxpusdt_SPBL" target="_blank"> <img src="assets/images/exchanges/bitget.png" class="avatar avatar-ex-sm" alt=""></a>
            </div>

            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <a href="https://www.bitmart.com/trade/en?symbol=SXP_USDT" target="_blank"></a><img src="assets/images/exchanges/bitmart.png" class="avatar avatar-ex-sm" alt=""></a>
            </div>

            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <a href="https://changenow.io/currencies/solar-network" target="_blank"> <img src="assets/images/exchanges/changenow.png" class="avatar avatar-ex-sm" alt=""></a>
            </div>

            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <a href="https://gate.io/trade/sxp_usdt" target="_blank"> <img src="assets/images/exchanges/gateio.png" class="avatar avatar-ex-sm" alt=""></a>
            </div>

            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <a href="https://www.lbank.info/exchange/sxp/usdt" target="_blank"> <img src="assets/images/exchanges/lbank.png" class="avatar avatar-ex-sm" alt=""></a>
            </div>

            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <a href="https://upbit.com/exchange?code=CRIX.UPBIT.KRW-SXP" target="_blank"> <img src="assets/images/exchanges/upbit.png" class="avatar avatar-ex-sm" alt=""></a>
            </div>
        </div>
    </div>
</section>
<div class="position-relative">
    <div class="shape overflow-hidden text-color-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
    </div>
</div>