<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-4 pb-2 text-center">
                    <h4 class="title mb-4">Solar (SXP) Blockchain</h4>
                    <p class=" text-muted mb-0 text-center">Solar is a fully decentralised and open-source blockchain designed from core blockchain components. <br>It operates via a Delegated Proof of Stake consensus and is secured by 53 voted-in delegates that produce blocks and validate transactions.
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card border-0 features feature-primary feature-clean course-feature p-4 overflow-hidden shadow">
                    <div class="icons text-center" style="align-self:center">
                        <i class="uil uil-layer-group d-block rounded h3 mb-0"></i>
                    </div>
                    <div class="card-body p-0 mt-4 text-center">
                        <p class="title h5 text-dark">DPoS Consensus</p>
                        <p class="text-muted mt-2">The Solar Blockchain utilises the Delegated Proof of Stake Consensus forked from ARK Core with 53 node operators.
                        </p>
                        <i class="uil uil-layer-group full-img"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card border-0 features feature-primary feature-clean course-feature p-4 overflow-hidden shadow">
                    <div class="icons text-center" style="align-self:center">
                        <i class="uil uil-layer-group d-block rounded h3 mb-0"></i>
                    </div>
                    <div class="card-body p-0 mt-4 text-center">
                        <p class="title h5 text-dark">Fast & Secure</p>
                        <p class="text-muted mt-2">The Solar Blockchain - with 53 delegates and an 8 seconds block-time - is one of the fastest and most secure blockchain in the industry.
                        </p>
                        <i class="uil uil-layer-group full-img"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card border-0 features feature-primary feature-clean course-feature p-4 overflow-hidden shadow">
                    <div class="icons text-center" style="align-self:center">
                        <i class="uil uil-layer-group d-block rounded h3 mb-0"></i>
                    </div>
                    <div class="card-body p-0 mt-4 text-center">
                        <p class="title h5 text-dark">Staking*</p>
                        <p class="text-muted mt-2">Contribute to the network by becoming a delegate or by voting for one of the 53 delegates and earn rewards from staking your SXP.
                        </p>
                        <i class="uil uil-layer-group full-img"></i>
                    </div>
                </div>
            </div>
            <div class="text-center mt-2">
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#disclaimer"><span
                        class="badge rounded-pill bg-soft-primary">* Disclaimer</span></a>
            </div>
        </div>
    </div>
</section>