<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">*Buy, Sell, Earn, Trade</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Solar's native utility coin with the ticker SXP is utilised in many different ways. <br>Learn more by clicking on the buttons below.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row justify-content-center">
                    <div class="col-md-6 mt-4 pt-2">
                        <div class="feature feature-primary position-relative ps-4 py-4 pe-5 shadow rounded overflow-hidden">
                            <div class="me-md-5">
                                <a href="javascript:void(0)" class="title h5 text-dark">Buy &amp; Sell SXP</a>
                                <p class="text-muted mb-3 mt-4">Instantly exchange your crypto for SXP or buy directly using your debit card.</p>
                            </div>
                            <div class="position-absolute top-50 start-100 translate-middle">
                                <img src="assets/images/crypto/cpu.svg" class="avatar avatar-large opacity-2" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mt-4 pt-2">
                        <div class="feature feature-primary position-relative ps-4 py-4 pe-5 shadow rounded overflow-hidden">
                            <div class="me-md-5">
                                <a href="javascript:void(0)" class="title h5 text-dark">Trade SXP</a>
                                <p class="text-muted mb-3 mt-4">Trade SXP over 40 exchanges and over 250 spot trading pairs.
                                </p>
                                <!-- <a href="/swap#exchanges" class="text-primary">View Exchanges <i
                                        class="uil uil-arrow-right"></i></a>-->
                            </div>
                            <div class="position-absolute top-50 start-100 translate-middle">
                                <img src="assets/images/crypto/analytics.svg" class="avatar avatar-large opacity-2" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mt-4 pt-2">
                        <div class="feature feature-primary position-relative ps-4 py-4 pe-5 shadow rounded overflow-hidden">
                            <div class="me-md-5">
                                <a href="javascript:void(0)" class="title h5 text-dark">Stake & Earn SXP</a>
                                <p class="text-muted mb-3 mt-4">Stake your SXP by voting for delegates and *earn SXP.
                                    <br> *rewards are optionally distributed by delegates.</p>
                                <!--   <a href="javascript:void(0)" class="text-primary">Start Voting <i
                                        class="uil uil-arrow-right"></i></a>-->
                            </div>
                            <div class="position-absolute top-50 start-100 translate-middle">
                                <img src="assets/images/crypto/exchange.svg" class="avatar avatar-large opacity-2" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mt-4 pt-2">
                        <div class="feature feature-primary position-relative ps-4 py-4 pe-5 shadow rounded overflow-hidden">
                            <div class="me-md-5">
                                <a href="javascript:void(0)" class="title h5 text-dark">Use SXP</a>
                                <p class="text-muted mb-3 mt-4">SXP is implemented in several 3rd party services and can be used to pay for goods and services. </p>
                                <!--     <a href="javascript:void(0)" class="text-primary">Learn more <i
                                        class="uil uil-arrow-right"></i></a>-->
                            </div>
                            <div class="position-absolute top-50 start-100 translate-middle">
                                <img src="assets/images/crypto/money.svg" class="avatar avatar-large opacity-2" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#disclaimer"><span
                                class="badge rounded-pill bg-soft-primary">* Disclaimer</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>