<div id="platform"></div>

<section class="section pt-0 bg-light">
    <div class="position-relative">
        <div class="shape overflow-hidden text-light">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>

    <div class="container" style="padding-bottom: 25px;">
        <div class="layout-specing" style="margin-top:25px;">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2" style="margin-top:50px;">
                        <h4 class="title mb-4"><span class="text-primary">More than just payments.</h4>
                        <p class="text-muted para-desc mb-0 mx-auto">The Solar Wallets are here to connect you with the SXP Blockchain.<br>
                        Together with payments and vote transactions, the wallets will be further enhanced with a wide variation of tools and
                        features to interact with the Blockchain and the community.<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-pills nav-justified flex-column flex-sm-row rounded" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link rounded active" id="pills-desktop-tab" data-bs-toggle="pill" href="#pills-desktop" role="tab" aria-controls="pills-desktop" aria-selected="false">
                                <div class="text-center py-2">
                                    <h6 class="mb-0">Solar Desktop Wallet</h6>
                                </div>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link rounded" id="pills-mobile-tab" data-bs-toggle="pill" href="#pills-mobile" role="tab" aria-controls="pills-mobile" aria-selected="false">
                                <div class="text-center py-2">
                                    <h6 class="mb-0">Solar Mobile Wallet</h6>
                                </div>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link rounded" id="pills-browser-tab" data-bs-toggle="pill" href="#pills-browser" role="tab" aria-controls="pills-browser" aria-selected="false">
                                <div class="text-center py-2">
                                    <h6 class="mb-0">Solar Browser Wallet</h6>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-12">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-desktop" role="tabpanel" aria-labelledby="pills-desktop-tab">
                            <div class="row align-items-center" style="margin-top:50px;">
                                <div class="col-md-6">
                                    <img src="assets/images/solar/desktopmockup.png" class="img-fluid mx-auto d-block" alt="">
                                </div>
                                <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                    <div class="section-title">
                                        <h4 class="title mb-4"><i class="uil uil-angle-double-right text-primary"></i> Solar Desktop Wallet</h4>
                                        <p class="">The Solar Desktop Wallet is here to connect you with the SXP Blockchain. <br> Use the wallet to transfer SXP or to vote for Delegates.<br> The Solar Desktop Wallet will be further enhanced with a wide variation
                                            of tools and features to interact with the Blockchain.
                                        </p>

                                        <a href="https://github.com/Solar-network/desktop-wallet/releases/download/2.9.12/solar-desktop-wallet-win-x64-2.9.12.exe">
                                            <div class="col-12"><img src="./assets/images/wallets/windows.png" height="50" class="me-3" alt=""> Windows
                                            </div>
                                        </a>
                                        <a href="https://github.com/Solar-network/desktop-wallet/releases/download/2.9.12/solar-desktop-wallet-mac-x64-2.9.12.dmg">
                                            <div class="col-12"><img src="./assets/images/wallets/macos.png" height="50" class="me-3" alt=""> MacOS (x64)
                                            </div>
                                        </a>
                                        <a href="https://github.com/Solar-network/desktop-wallet/releases/download/2.9.12/solar-desktop-wallet-mac-arm64-2.9.12.dmg">
                                            <div class="col-12"><img src="./assets/images/wallets/macos.png" height="50" class="me-3" alt=""> MacOS (Silicon)
                                            </div>
                                        </a>
                                        <a href="https://github.com/Solar-network/desktop-wallet/releases/download/2.9.12/solar-desktop-wallet-linux-amd64-2.9.12.deb">
                                            <div class="col-12"><img src="./assets/images/wallets/linux.png" height="50" class="me-3" alt=""> Ubuntu
                                            </div>
                                        </a>
                                        <br>
                                        <a href="https://github.com/solar-network/desktop-wallet" target="_blank" name="external" onclick="confirmExit(this.name)" class="h6 text-primary" style="margin-top:10px;">View
                                        Source Code <i class="uil uil-angle-right-b"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="pills-mobile" role="tabpanel" aria-labelledby="pills-mobile-tab">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <img src="assets/images/solar/mobilewalletmockup.png" class="img-fluid mx-auto d-block" alt="">
                                </div>

                                <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                    <div class="section-title">
                                        <h4 class="title mb-4"><i class="uil uil-angle-double-right text-primary"></i> Solar Mobile Wallet</h4>
                                        <p>The Solar Mobile Wallet for Android (Open-testing), iOS (TestFlight) and AppGallery have been submitted to Google, Apple and Huawei on the 11th of October 2022.<br> Please come back later to download the Solar Mobile
                                            Wallet or keep an eye on our Twitter.</p>
                                        <!-- <a href="javascript:void(0)" class="mt-3 h6 text-primary">button <i
                                                                                    class="uil uil-angle-right-b"></i></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-browser" role="tabpanel" aria-labelledby="pills-browser-tab">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <img src="https://www.guidingtech.com/wp-content/uploads/save-screenshot-jpg-paint-windows_4d470f76dc99e18ad75087b1b8410ea9.png" class="img-fluid mx-auto d-block" alt="">
                                </div>
                                <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                    <div class="section-title">
                                        <h4 class="title mb-4"><i class="uil uil-angle-double-right text-primary"></i> Solar Browser Wallet</h4>
                                        <p class="text-muted">text.
                                        </p>
                                        <p>The Solar Browser Wallet was accepted by the Chrome Web Store. It is currently undergoing an internal audit and will be available once the audit phase is complete.</p>
                                        <!--<a href="javascript:void(0)" class="mt-3 h6 text-primary">button <i
                                                                                        class="uil uil-angle-right-b"></i></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>