<div id="platform"></div>

<section class="section pt-0 bg-light">
    <div class="position-relative">
        <div class="shape overflow-hidden text-light">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2" style="margin-top:50px;">
                    <h4 class="title mb-4"><span class="text-primary">Solar</span> Wallet</h4>
                    <p class="text-muted para-desc mb-0 mx-auto">Open-source. Safe and secure.<br> text about github etc
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 mt-4 pt-2 text-center">
                <ul class="nav nav-pills nav-justified flex-column flex-sm-row rounded bg-white shadow" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link rounded active" id="desktop-wallet-tab" data-bs-toggle="pill" href="#desktop-wallet" role="tab" aria-controls="desktop-wallet" aria-selected="false" tabindex="-1">
                            <div class="text-center py-2">
                                <h6 class="mb-0">Desktop Wallet</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link rounded " id="mobile-wallet-tab" data-bs-toggle="pill" href="#mobile-wallet" role="tab" aria-controls="mobile-wallet" aria-selected="true">
                            <div class="text-center py-2">
                                <h6 class="mb-0">Mobile Wallet</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link rounded" id="browser-wallet-tab" data-bs-toggle="pill" href="#browser-wallet" role="tab" aria-controls="browser-wallet" aria-selected="false" tabindex="-1">
                            <div class="text-center py-2">
                                <h6 class="mb-0">Browser Wallet</h6>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-4 pt-2">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade" id="desktop-wallet" role="tabpanel" aria-labelledby="desktop-wallet-tab">
                        <div class="row align-items-center" style="margin-top:50px;">
                            <div class="col-md-6">
                                <img src="https://www.pngall.com/wp-content/uploads/2016/05/Laptop-PNG-HD.png" class="img-fluid mx-auto d-block" alt="">
                            </div>
                            <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                <div class="section-title">
                                    <h4 class="title mb-4"><i class="uil uil-angle-double-right text-primary"></i> Solar Desktop Wallet</h4>
                                    <p class="text-muted">The Solar Desktop Wallet is here to connect you with the SXP Blockchain. <br> Use the wallet to transfer SXP or to vote for Delegates.<br> The Solar Desktop Wallet will be further enhanced with a wide variation of tools
                                        and features to interact with the Blockchain.
                                    </p>

                                    <div class="col-12">
                                        <img src="./assets/images/wallets/windows.png" height="50" class="me-3" alt="">
                                        <img src="./assets/images/wallets/macos.png" height="50" class="me-3" alt="">
                                        <img src="./assets/images/wallets/linux.png" height="50" class="me-3" alt="">
                                        <!--  <img src="./assets_old/images/wallets/android.png" height="50" class="me-3" alt="">
                                                                            <img src="./assets_old/images/wallets/ios.png" height="50" class="me-3" alt="">
                                                                            <img src="./assets_old/images/wallets/browser.png" height="50" class="me-3" alt="">-->
                                    </div>
                                    <br>
                                    <a href="javascript:void(0)" class="h6 text-primary" style="margin-top:10px;">View
                                        Source Code <i class="uil uil-angle-right-b"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade active show" id="mobile-wallet" role="tabpanel" aria-labelledby="mobile-wallet-tab">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <img src="https://news.sap.com/wp-content/blogs.dir/1/files/2021/06/07/New-Mobile-Experience_screenshot.jpg" class="img-fluid mx-auto d-block" alt="">
                            </div>

                            <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                <div class="section-title">
                                    <h4 class="title mb-4"><i class="uil uil-angle-double-right text-primary"></i> Solar Mobile Wallet</h4>
                                    <p class="text-muted">text
                                    </p>
                                    <ul class="list-unstyled text-muted">
                                        <li class="mb-1"><span class="text-primary h5 me-2"><i
                                                    class="uil uil-check-circle align-middle"></i></span>features</li>
                                        <li class="mb-1"><span class="text-primary h5 me-2"><i
                                                    class="uil uil-check-circle align-middle"></i></span>features</li>
                                        <li class="mb-1"><span class="text-primary h5 me-2"><i
                                                    class="uil uil-check-circle align-middle"></i></span>features</li>
                                    </ul>
                                    <a href="javascript:void(0)" class="mt-3 h6 text-primary">button <i
                                            class="uil uil-angle-right-b"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="browser-wallet" role="tabpanel" aria-labelledby="browser-wallet-tab">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <img src="https://www.guidingtech.com/wp-content/uploads/save-screenshot-jpg-paint-windows_4d470f76dc99e18ad75087b1b8410ea9.png" class="img-fluid mx-auto d-block" alt="">
                            </div>
                            <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                <div class="section-title">
                                    <h4 class="title mb-4"><i class="uil uil-angle-double-right text-primary"></i> Solar Browser Wallet</h4>
                                    <p class="text-muted">text.
                                    </p>
                                    <ul class="list-unstyled text-muted">
                                        <li class="mb-1"><span class="text-primary h5 me-2"><i
                                                    class="uil uil-check-circle align-middle"></i></span>features</li>
                                        <li class="mb-1"><span class="text-primary h5 me-2"><i
                                                    class="uil uil-check-circle align-middle"></i></span>features</li>
                                        <li class="mb-1"><span class="text-primary h5 me-2"><i
                                                    class="uil uil-check-circle align-middle"></i></span>features</li>
                                    </ul>
                                    <a href="javascript:void(0)" class="mt-3 h6 text-primary">button <i
                                            class="uil uil-angle-right-b"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>