<hr>
<h6 class="text-muted mb-1">ERC-20 SXP Blockchain Statistics <a href="https://etherscan.io/token/0x8ce9137d39326ad0cd6491fb5cc0cba0e089b6a9#balances" target="_blank">(view
        etherscan.io)</a></h6>
<div class="row row-cols-xl-4 row-cols-md-2 row-cols-1">

    <div class="col mt-4">
        <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
            <div class="d-flex align-items-center">
                <div class="flex-1 ms-3">
                    <h6 class="mb-0 text-muted">Top 10</h6>
                    <p class="fs-5 text-dark fw-bold mb-0"><span id="erc20_top">98%</span>
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="col mt-4">
        <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
            <div class="d-flex align-items-center">
                <div class="flex-1 ms-3">
                    <h6 class="mb-0 text-muted">Swapped</h6>
                    <p class="fs-5 text-dark fw-bold mb-0"><span id="erc20_swapped">30%</span>
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="col mt-4">
        <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
            <div class="d-flex align-items-center">
                <div class="flex-1 ms-3">
                    <h6 class="mb-0 text-muted">Binance Custody</h6>
                    <p class="fs-5 text-dark fw-bold mb-0"><span id="erc20_binance">15%</span>
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="col mt-4">
        <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
            <div class="d-flex align-items-center">
                <div class="flex-1 ms-3">
                    <h6 class="mb-0 text-muted">Held by other exchanges</h6>
                    <p class="fs-5 text-dark fw-bold mb-0"><span id="erc20_otherexchanges">5%</span>
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <div class="d-flex justify-content-between p-4 shadow rounded-top">
            <h6 class="fw-bold mb-0">Top 10 holders</h6>
        </div>
        <div class="table-responsive shadow rounded-bottom" data-simplebar style="height: 545px;">
            <table class="table table-center bg-white mb-0">
                <thead>
                    <tr>
                        <th class="border-bottom p-3" style="min-width: 300px;">Address</th>
                        <th class="border-bottom p-3" >Amount</th>
                        <th class="text-end border-bottom p-3" style="min-width: 150px;">Value</th>
                        <th class="text-center border-bottom p-3">Percentage</th>
                    </tr>
                </thead>
                <tbody id='erc20'></tbody>
            </table>
        </div>
    </div>
</div>