<hr>
<h6 class="text-muted mb-1">Solar Blockchain Statistics</h6>
<div class="row row-cols-xl-5 row-cols-md-2 row-cols-1">
    <div class="col mt-4">
        <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
            <div class="d-flex align-items-center">
                <div class="icon text-center rounded-pill">
                    <i class="uil uil-user-circle fs-4 mb-0"></i>
                </div>
                <div class="flex-1 ms-3">
                    <h6 class="mb-0 text-muted">Circulating Supply</h6>
                    <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="4589">2100</span></p>
                </div>
            </div>

            <span class="text-danger"><i class="uil uil-chart-down"></i> 0.5%</span>
        </a>
    </div>

    <div class="col mt-4">
        <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
            <div class="d-flex align-items-center">
                <div class="icon text-center rounded-pill">
                    <i class="uil uil-usd-circle fs-4 mb-0"></i>
                </div>
                <div class="flex-1 ms-3">
                    <h6 class="mb-0 text-muted">Unswapped</h6>
                    <p class="fs-5 text-dark fw-bold mb-0">$<span class="counter-value" data-target="48575">35214</span></p>
                </div>
            </div>

            <span class="text-success"><i class="uil uil-arrow-growth"></i> 1234 SXP</span>
        </a>
    </div>

    <div class="col mt-4">
        <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
            <div class="d-flex align-items-center">
                <div class="icon text-center rounded-pill">
                    <i class="uil uil-shopping-bag fs-4 mb-0"></i>
                </div>
                <div class="flex-1 ms-3">
                    <h6 class="mb-0 text-muted">Wallets</h6>
                    <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="4800">3402</span></p>
                </div>
            </div>

            <span class="text-success"><i class="uil uil-arrow-growth"></i> 1.46%</span>
        </a>
    </div>

    <div class="col mt-4">
        <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
            <div class="d-flex align-items-center">
                <div class="icon text-center rounded-pill">
                    <i class="uil uil-store fs-4 mb-0"></i>
                </div>
                <div class="flex-1 ms-3">
                    <h6 class="mb-0 text-muted">Burned</h6>
                    <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="145">23</span></p>
                </div>
            </div>

            <span class="text-muted"><i class="uil uil-analysis"></i> 0.0%</span>
        </a>
    </div>

    <div class="col mt-4">
        <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center rounded shadow p-3">
            <div class="d-flex align-items-center">
                <div class="icon text-center rounded-pill">
                    <i class="uil uil-users-alt fs-4 mb-0"></i>
                </div>
                <div class="flex-1 ms-3">
                    <h6 class="mb-0 text-muted">SXP Produced</h6>
                    <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="9">1.5</span>M</p>
                </div>
            </div>

            <span class="text-danger"><i class="uil uil-chart-down"></i> 0.5%</span>
        </a>
    </div>
</div>