<div class="offcanvas offcanvas-start shadow border-0" tabindex="-1" id="contributions" aria-labelledby="offcanvasLeftLabel">
    <div class="offcanvas-header p-4 border-bottom">
        <h5 id="offcanvasLeftLabel" class="mb-0">
            <img src="assets/images/solar/logo-dark.svg" height="32" class="light-version" alt="">
            <img src="assets/images/solar/logo-white.svg" height="32" class="dark-version" alt="">
        </h5>
        <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="offcanvas" aria-label="Close"><i class="uil uil-times fs-4"></i></button>
    </div>
    <div class="offcanvas-body p-4 pb-0">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-4 pt-4 border-top">
                    <h6 class="fw-bold">Latest Contributions</h6>

                    <ul class="text-center style-switcher list-unstyled mt-4">
                        <li>Latest contributions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>