<div class="modal fade" id="disclaimer" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded shadow border-0">
            <div class="modal-body py-5">
                <div class="text-center">
                    <div class="icon d-flex align-items-center justify-content-center bg-soft-danger rounded-circle mx-auto" style="height: 95px; width:95px;">
                        <h1 class="mb-0"><i class="uil uil-heart-break align-middle"></i></h1>
                    </div>
                    <div class="mt-4">
                        <h4>Disclaimer</h4>
                        <p class="text-muted">The Content is for informational purposes only, you should not construe any such information or other material as legal, tax, investment, financial, or other advice. <br> Nothing contained on our Site constitutes a solicitation,
                            recommendation, endorsement, or offer by Solar Blockchain Foundation or any third party service provider to buy or sell any assets in this or in in any other jurisdiction in which such solicitation or offer would be unlawful
                            under the securities laws of such jurisdiction.<br><br> As a convenience to you, Solar Blockchain Foundation may provide hyperlinks to web sites operated by third parties. <br> When you select these hyperlinks you will be leaving
                            the Solar website. <br> Because Solar Blockchain Foundation has no control over such sites or their content, Solar Blockchain Foundation is not responsible for the availability of such external sites or their content, and Solar
                            Blockchain Foundation does not adopt, endorse or nor is responsible or liable for any such sites or content, including advertising, products or other materials, on or available through such sites or resources.
                            <br><br> Other web sites may provide links to the Site or Content with or without our authorization. <br> Solar Blockchain Foundation does not endorse such sites and shall not be responsible or liable for any links from those
                            sites to the Site or Content, or for any content, advertising, products or other materials available on or through such other sites, or any loss or damages incurred in connection therewith. <br> Solar Blockchain Foundation
                            may, in its sole discretion, block links to the Site and Content without prior notice.
                        </p>
                        <div class="mt-4">
                            <a href="/privacy-policy" class="btn btn-outline-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>