<div class="modal fade" id="disclaimer-events" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded shadow border-0">
            <div class="modal-body py-5">
                <div class="text-center">
                    <div class="icon d-flex align-items-center justify-content-center bg-soft-danger rounded-circle mx-auto" style="height: 95px; width:95px;">
                        <h1 class="mb-0"><i class="uil uil-heart-break align-middle"></i></h1>
                    </div>
                    <div class="mt-4">
                        <h4>Disclaimer of Third Party Events</h4>
                        <p class="text-muted">
                            You acknowledge and agree that Solar Blockchain Foundation is not responsible for Third Party Events and that Solar Blockchain Foundation makes no representations or warranties regarding Third Party Events. Solar Blockchain Foundation does not endorse
                            and is not responsible or liable for any content, advertising, products or other materials on or available from any Third Party Events. Solar Blockchain Foundation will not be responsible or liable, directly or indirectly,
                            for any actual or alleged damage or loss caused by or in connection with use of or reliance on any Third Party Services. If you decide to participate or access Third Party Events, be advised that your access and use of such
                            Third Party Services are governed solely by the terms and conditions of such Third Party Services. You irrevocably waive any claim against Solar Blockchain Foundation and its affiliates with respect to such Third Party Services.
                            “Third Party Services” means third party products, events, applications, services, software, networks, systems, directories, websites, databases and information which a Solar Blockchain Foundation Service links to, or which
                            you may connect to or enable in conjunction with a Solar Blockchain Foundation Service, including, without limitation, Third Party Services which may be integrated directly into your account by you or at your direction.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>