<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>


<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <a class="logo" href="/">
            <img src="/assets/images/solar/logo-dark.svg" height="24" class="logo-light-mode" alt="">
            <img src="/assets/images/solar/logo-white.svg" height="24" class="logo-dark-mode" alt="">
        </a>

        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>

        <ul class="buy-button list-inline mb-0">
            <li class="list-inline-item sidebar-icon mb-0">
                <a href="javascript:void(0)" onclick="toggleTheme()">
                    <div class="btn btn-icon btn-soft-primary" id="themeswitcher"><i data-feather="moon" class="fea icon-sm"></i>
                    </div>
                </a>
            </li>
            <li class="list-inline-item button mb-0 ps-1">
                <a name="external" onclick="confirmExit(this.name)" href="https://github.com/solar-network" target="_blank" class="btn btn-icon btn-primary"><i
                        class="uil uil-github"></i></a>
            </li>

        </ul>

        <div id="navigation">
            <ul class="navigation-menu">
                <li><a href="/" class="sub-menu-item">Home</a></li>
                <li class="has-submenu parent-parent-menu-item">
                    <a href="javascript:void(0)">About</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="/about-solar" class="sub-menu-item"> Solar Foundation</a></li>
                        <li><a href="/roadmap" class="sub-menu-item">Roadmap </a></li>
                        <li><a name="external" onclick="confirmExit(this.name)" href="https://docs.solar.org/project/whitepaper/" target="_blank" class="sub-menu-item">Whitepaper<span style="color:orangered">*</span> </a></li>
                        <li><a href="/events" class="sub-menu-item">Events</a></li>
                        <li><a href="/stats" class="sub-menu-item">Statistics</a></li>
                    </ul>
                </li>
                <li><a href="/wallets" class="sub-menu-item">Wallets</a></li>
                <li class="has-submenu parent-parent-menu-item">
                    <a href="javascript:void(0)">Blockchain</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="/core" class="sub-menu-item"> Solar Core</a></li>
                        <li><a name="external" onclick="confirmExit(this.name)" href="https://explorer.solar.org" target="_blank" class="sub-menu-item">Explorer<span style="color:orangered">*</span></a></li>
                        <li><a href="/staking" class="sub-menu-item">Staking</a></li>
                    </ul>
                </li>
                <li><a href="/swap" class="sub-menu-item">Swap</a></li>
                <li><a name="external" onclick="confirmExit(this.name)" href="https://coinmarketcap.com/community/profile/Solar?type=Articles" target="_blank" class="sub-menu-item">Blog<span style="color:orangered">*</span></a></li>
                <!--  <li><a href="/shop" target="_blank" name="external" onclick="confirmExit(this.name)" class="sub-menu-item">Shop</a></li>-->
            </ul>
        </div>
    </div>
</header>