{% extends 'components/layout.twig' %} {% block body %}

<body>
    <!---->
    {% include "/sections/about/about-solar/heading.twig" %}
    <!---->
    <section class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="position-relative">
                        <img src="https://solar.org/assets/images/about/about.png" class="rounded img-fluid mx-auto d-block" alt="">
                    </div>
                </div>

                <!-- sxptodo add info about foundation -->
                <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="section-title ms-lg-4">
                        <h4 class="title mb-4">Community Driven</h4>
                        <p class="text-muted">A decentralised community-driven blockchain project.<br> The Solar Blockchain Foundation in Estonia focuses on creating a blockchain ecosystem. <br> An ecosystem with open-source developers and community involvement.<br>
                            <br> Our blockchain offers a wide variety of features and tools that allows us to level with enterprise-grade applications.
                            <br> Discover our ecosystem. Join the community.
                            <br>Participate in our DPoS network or contribute to our platform.<br><br> Solar is available for everyone, including you.

                        </p>
                        <a href="/community" class="btn btn-primary mt-3">Join the Community <i
                                class="uil uil-angle-right-b"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <section class="section" style="background: url('assets/images/nft/bg.jpg') top center;margin-top:100px;">
        <div class="bg-overlay bg-linear-gradient-2"></div>
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-8 col-md-6 col-12">
                    <div class="section-title">
                        <h4 class="title text-white title-dark mb-4">Read the whitepaper</h4>
                        <p class="text-white para-desc mb-0">Solar is a decentralised project with a mission and vision created by the founders. <br>Solar will continue to improve its mission and vision influenced by its community and the future market demand.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="text-md-end">
                        <a href="https://docs.solar.org/project/whitepaper/" target="_blank" class="btn btn-primary"><i class="uil uil-bookmark"></i> Read Whitepaper</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- sxptodo replace text and move to core section -->
    <section class="section">
        <div class="container mt-100 mt-60">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7 order-2 order-md-1 mt-5 mt-sm-0">
                    <div class="section-title">
                        <h1 class="title mb-3">Powered by Blockchain</h1>
                        <p class="para-desc text-muted">Unlike many traditional blockchains, Solar utilizes the Delegated Proof of Stake (DPoS) Consensus powered by Solar Core.
                            <br> This makes the Solar Blockchain sustainable, efficient and fully decentralised without the known issues from traditional Proof of Work (PoW) blockchains such as being energy intensive or 51% attack vectors.<br><br> The
                            Solar Blockchain has 53 delegates also known as node operators. These delegates are selected by the voters, based on their wallet weight.
                            <br>The easiest way to vote for a delegate is by downloading the Solar wallet and to vote for one or multiple delegates of your liking.<br> The main purpose of a delegate is to contribute to the blockchain network by providing
                            security enhancements, code updates, marketing or brand development and many other contributions. Delegates receive rewards from blocks produced on the blockchain network and they usually share these rewards with their voters.
                            <br><br> Click on the button below to learn more about the voting or delegating features of the Solar Blockchain.</p>
                        <div class="mt-4">
                            <a href="/staking" class="btn btn-primary">Learn More <i
                                    class="uil uil-angle-right-b"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-5 order-1 order-md-2">
                    <div class="app-feature-shape-right position-relative">
                        <div class="text-center text-md-end">
                            <img src="https://solar.org/assets/images/feature/experience.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    -->
</body>
{% endblock %} {% block javascripts %}
<!---->
{% include "/sections/about-solar/scripts.twig" %}
<!---->
{% endblock %}