{% extends 'components/layout.twig' %} {% block body %}

<body>
    <!---->
    {% include "/sections/about/about-solar/heading.twig" %}
    <!---->
    <section class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="position-relative">
                        <img src="assets/images/solar/foundation.png" class="rounded img-fluid mx-auto d-block" alt="">
                    </div>
                </div>

                <!-- sxptodo add info about foundation -->
                <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="section-title ms-lg-4">
                        <h4 class="title mb-4">The Foundation</h4>
                        <p class="text-muted">The Solar Blockchain Foundation, established in Estonia is a non-profit organisation that focuses on creating a blockchain ecosystem with open-source developers and community involvement.<br>
                            <br> The Solar Blockchain offers a wide variety of features and tools that allows us to level with enterprise-grade applications.
                            <br>
                            <br> Discover our ecosystem by joining the community or become part of the foundation.<br>
                            <br> Solar is for everyone.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <section class="section bg-light">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-12 col-md-12 col-12 text-center">
                    <div class="section-title">
                        <h4 class="title title-dark mb-4">View Roadmap</h4>
                        <p class=" mb-0">Solar is a decentralised project launched by Swipe (SXP) with a mission and vision set by the founders of Swipechain. <br>Solar will continue to improve its mission and vision influenced by the community and the future market and
                            technology demand.
                        </p>
                    </div>
                    <div class="mt-4">
                        <a href="/roadmap" class="btn btn-primary">View Roadmap</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- sxptodo replace text and move to core section -->
    <section class="section">
        <div class="container mt-100 mt-60">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7 order-2 order-md-1 mt-5 mt-sm-0">
                    <div class="section-title">
                        <h1 class="title mb-3">Join the Solar Blockchain Foundation</h1>
                        <p class="para-desc text-muted">
                            Our role is not to control the Solar Blockchain or becoming the only organisation to fund critical Solar-related technologies.<br> Our mission is to guide the Solar Blockchain with the original vision from Swipechain. <br>                            Similar to the Ethereum Foundation, our ecosystem is designed to provide both financial and technical support to projects and entities within the greater Solar community, in order to accelerate the growth of the ecosystem.<br>
                            <br> Becoming an official member of the foundation allows you to collaborate with like-minded people and support the mission and vision of the Solar Blockchain Foundation.<br><br> Click on the button below to learn more and
                            apply for a position with the Solar Blockchain Foundation.</p>

                        <div class="mt-4">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#jointhefoundation" class="btn btn-primary">Learn more <i
                                    class="uil uil-angle-right-b"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-5 order-1 order-md-2">
                    <div class="app-feature-shape-right position-relative">
                        <div class="text-center text-md-end">
                            <img src="assets/images/solar/solarcore.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "/sections/about/about-solar/jointhefoundation.twig" %}
</body>
{% endblock %} {% block javascripts %}
<!---->
{% include "/sections/about-solar/scripts.twig" %}
<!---->
{% endblock %}