{% extends 'components/layout.twig' %} {% block body %}

<body>
    <!---->
    <section class="bg-half-100 d-table w-100 overflow-hidden" id="home">
        <div class="container">
            <div class="row align-items-center pt-5">
                <div class="col-lg-7 col-md-6">
                    <div class="title-heading">
                        <h1 class="heading mb-3">Powered by <span class="text-primary">Solar</span> Core</h1>
                        <p class="para-desc text-muted">A true decentralised blockchain built from Core components, utilising the Delegated Proof of Stake consensus with 53 delegates. </p>
                        <br>
                        <!-- sxptodo grab version from github
                        <span class="badge rounded-pill bg-soft-primary">v5.0.0</span>
                        -->
                    </div>
                </div>


                <div class="col-lg-5 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="classic-saas-image position-relative">
                        <div class="bg-saas-shape position-relative">
                            <img src="assets/images/mockups/code3.png" class="mx-auto d-block" alt="">
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!--end container-->
    </section>
    <section class="bg-half-260 agency-wrapper d-table w-100" id="home">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-7 order-1 order-md-2">
                    <div class="title-heading mt-4 ms-lg-5 ps-lg-5">
                        <h1 class="heading mb-3">The Solar Blockchain
                        </h1>
                        <h5 class="fw-bold mt-4 mb-3">Solar Core is <span class="typewrite text-primary" data-period="2000" data-type="[ &quot;fast &amp; secure&quot;, &quot;decentralised&quot;, &quot;efficient&quot;]"><span
                                    class="wrap">placeholder placeholder</span></span>
                        </h5>
                        <p class="para-desc text-muted">By combining innovative protcol design with accessible & extensible software, Solar allows for maximum developer productivity. <br>We prioritise builders and doers by building blockchain software that balances power and ease of
                            use.
                        </p>
                    </div>
                </div>


                <div class="col-lg-5 col-md-5 order-2 order-md-1 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="nav-bg p-4 rounded shadow">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="nav nav-pills nav-justified flex-column flex-sm-row rounded bg-soft-light" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link nav-link-alt rounded active" id="pills-npm-tab" data-bs-toggle="pill" href="#pills-npm" role="tab" aria-controls="pills-npm" aria-selected="true">
                                            <div class="text-center">
                                                <h5 class="title fw-normal mb-0">Core</h5>
                                            </div>
                                        </a>

                                    </li>


                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link nav-link-alt rounded" id="pills-nuget-tab" data-bs-toggle="pill" href="#pills-nuget" role="tab" aria-controls="pills-nuget" aria-selected="false" tabindex="-1">
                                            <div class="text-center">
                                                <h5 class="title fw-normal mb-0">Node</h5>
                                            </div>
                                        </a>

                                    </li>


                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link nav-link-alt rounded" id="pills-spm-tab" data-bs-toggle="pill" href="#pills-spm" role="tab" aria-controls="pills-spm" aria-selected="false" tabindex="-1">
                                            <div class="text-center">
                                                <h5 class="title fw-normal mb-0">Public API</h5>
                                            </div>
                                        </a>

                                    </li>

                                </ul>

                            </div>

                        </div>


                        <div class="row">
                            <div class="col-12 mt-2">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-npm" role="tabpanel" aria-labelledby="pills-npm-tab">
                                        <p class="text-muted fw-bold mb-0"><span class="text-success">View Solar Core on Github<br>$</span><a href="https://github.com/solar-network/core" target="_blank" name="external" onclick="confirmExit(this.name)"> https://github.com/solar-network/core</a></p>
                                    </div>


                                    <div class="tab-pane fade" id="pills-nuget" role="tabpanel" aria-labelledby="pills-nuget-tab">
                                        <p class="text-muted fw-bold mb-0"><span class="text-success">Deploy your own node<br>$</span><a href="https://docs.solar.org/exchanges/node-installation/baremetal-instructions/" target="_blank" name="external" onclick="confirmExit(this.name)"> View Documentation</a></p>
                                    </div>


                                    <div class="tab-pane fade" id="pills-spm" role="tabpanel" aria-labelledby="pills-spm-tab">
                                        <p class="text-muted fw-bold mb-0"><span class="text-success">View the Public API<br>$</span><a href="https://sxp.mainnet.sh" target="_blank" name="external" onclick="confirmExit(this.name)"> Mainnet > https://sxp.mainnet.sh</a><br><span class="text-success">$</span>
                                            <a
                                                href="https://sxp.mainnet.sh" target="_blank" name="external" onclick="confirmExit(this.name)"> Testnet > https://sxp.testnet.sh
                                                </a>
                                        </p>
                                    </div>


                                    <div class="tab-pane fade" id="pills-github" role="tabpanel" aria-labelledby="pills-github-tab">
                                        <p class="text-muted fw-bold mb-0">coming soon ...</p>
                                    </div>

                                </div>
                                <!--end tab content-->
                            </div>

                        </div>

                    </div>
                </div>



            </div>

        </div>
        <!--end container-->
    </section>

    <!--  {% include "/sections/about/about-solar/heading.twig" %} -->

    <section id="documentation" class="section bg-light">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-12 col-md-12 col-12 text-center">
                    <div class="section-title">
                        <h4 class="title title-dark mb-4">Documentation</h4>
                        <p class=" mb-0">The Solar Documentation is open-source and hosted on Github. <br>Click on the buttons below to visit the documentation page for Solar.
                        </p>
                    </div>
                    <div class="mt-4">
                        <a href="https://docs.solar.org/exchanges/intro/" target="_blank" name="external" onclick="confirmExit(this.name)" class="btn btn-primary">Exchanges</a>
                        <a href="https://docs.solar.org/exchanges/node-installation/hardware-requirements/" target="_blank" name="external" onclick="confirmExit(this.name)" class="btn btn-primary">Node Install</a>
                        <a href="https://docs.solar.org/sdk/documentation/" target="_blank" name="external" onclick="confirmExit(this.name)" class="btn btn-primary">SDK</a>
                        <a href="https://docs.solar.org/api/" target="_blank" name="external" onclick="confirmExit(this.name)" class="btn btn-primary">API</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container mt-100 mt-60">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7 order-2 order-md-1 mt-5 mt-sm-0">
                    <div class="section-title">
                        <!-- sxptodo change text -->
                        <h1 class="title mb-3">About Solar Network</h1>
                        <p class="para-desc text-muted">Unlike many traditional blockchains, Solar utilises the Delegated Proof of Stake (DPoS) Consensus powered by Solar Core.
                            <br> This makes the Solar Blockchain sustainable, efficient and fully decentralised without the known issues from traditional Proof of Work (PoW) blockchains such as being energy intensive or open to centralised attack vectors.<br><br>                            The Solar Blockchain has 53 delegates also known as node operators. These delegates are selected by the voters, based on their wallet weight.
                            <br>The easiest way to vote for a delegate is by downloading the Solar wallet and to vote for one or multiple delegates of your liking.<br> The main purpose of a delegate is to contribute to the blockchain network by providing
                            security enhancements, code updates, marketing or brand development and many other contributions. Delegates receive rewards from blocks produced on the blockchain network and they usually share these rewards with their voters.
                            <br><br> Click on the button below to learn more about the voting or delegating features of the Solar Blockchain.</p>
                        <div class="mt-4">
                            <a href="/staking" class="btn btn-primary">Learn More <i
                                    class="uil uil-angle-right-b"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-5 order-1 order-md-2">
                    <div class="app-feature-shape-right position-relative">
                        <div class="text-center text-md-end">
                            <img src="assets/images/solar/solarcore.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    <section class="trial-section" style="margin-bottom:100px;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="section-header  coverage-header">
                        <h5 class="cate">Funded by donations</h5>
                        <h2 class="title">Solar Foundation Wallet</h2>
                        <p>
                            The Solar Blockchain Foundation is a non-profit foundation. </br>
                            The Solar Blockchain Foundation launched without ICOs or equity investments.</br>
                            The marketing, exchange integrations, commercial activities, staffing, legal counsel and administrative operations are funded by donations received in SXP.</br>
                            </br>
                            Feel free to donate to the Foundation Wallet on the Solar Network.</br>
                            Donations are very appreciated and will keep the foundation going.</br>
                            </br>
                        </p>
                        <p> Solar Blockchain Foundation Wallet (SXP):
                            <br><a target="_blank" name="external" onclick="confirmExit(this.name)" href="https://explorer.solar.org/wallets/Sdao2USyAz9B6RBgZeFyNDePuQAxfzZZHE">Sdao2USyAz9B6RBgZeFyNDePuQAxfzZZHE</a></br>
                            Current Balance: <span id="balance"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
</body>
{% endblock %} {% block javascripts %}
<!---->
{% include "components/scripts.twig" %}
<!---->
{% endblock %}