 {% extends 'components/layout.twig' %}
<!---->
{% block body %}

<body>
    {% include "/sections/home/heading.twig" %}
    <!---->
    {% include "/sections/home/solar-sxp-blockchain.twig" %}
    <!---->
    {% include "/sections/home/cta-participate.twig" %}
    <!---->
    {% include "/sections/home/trade.twig" %}
    <!---->
    {% include "/sections/home/cta-exchanges.twig" %}
    <!---->
    {% include "/sections/home/features.twig" %}
</body>

{% endblock %}