{% extends 'components/layout.twig' %}
<!---->
{% block body %}

<body>
    <section class="bg-half-170 bg-light d-table w-100 d-print-none" style="padding-bottom:0px;">
        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="pages-heading">
                        <h4 class="title"> Roadmap </h4>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="position-breadcrumb">
                <nav aria-label="breadcrumb" class="d-inline-block">
                    <ul class="breadcrumb rounded shadow mb-0 px-4 py-2">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Roadmap</li>
                    </ul>
                </nav>
            </div>
        </div>
        <img src="assets/images/solar/roadmap.png" class="" style="width:100%" alt="">
        <!--end container-->
    </section>
    <!--
    <section style="margin-top:25px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="component-wrapper rounded shadow">
                        <div class="p-4 border-bottom">
                            <h5 class="title mb-0 text-center">Roadmap</h5>
                            <p class="text-muted para-desc mb-0 mx-auto text-center">text about roadmap
                            </p>
                        </div>

                        
                        <div class="p-4">
                            <div class="accordion" id="buyingquestion">
                                <div class="accordion-item rounded">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            roadmap item
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse border-0 collapse" aria-labelledby="headingOne" data-bs-parent="#buyingquestion" style="">
                                        <div class="accordion-body text-muted">
                                            text
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item rounded mt-2">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            roadmap item
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse border-0 collapse" aria-labelledby="headingTwo" data-bs-parent="#buyingquestion" style="">
                                        <div class="accordion-body text-muted">
                                            text
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item rounded mt-2">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            roadmap item
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse border-0 collapse" aria-labelledby="headingThree" data-bs-parent="#buyingquestion" style="">
                                        <div class="accordion-body text-muted">
                                            text
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item rounded mt-2">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button border-0 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                            roadmap item
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse border-0 collapse show" aria-labelledby="headingFour" data-bs-parent="#buyingquestion" style="">
                                        <div class="accordion-body text-muted">
                                            text
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <section class="section bg-light">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-12 col-md-12 col-12 text-center">
                    <div class="section-title">
                        <h4 class="title title-dark mb-4">Roadmap</h4>
                        <p class=" mb-0">We have received feedback from the entity that acquired Swipe after publishing the <a href="https://coinmarketcap.com/community/articles/38833" target="_blank" name="external" onclick="confirmExit(this.name)"> Q3-2022 blog article</a>.<br>                            The feedback has led us to making several unexpected changes and improvements to the Solar whitepaper and roadmap.<br> The changes and improvements will be presented to and reviewed by the entity that acquired the Swipe card
                            business.
                            <br> We aim to release the new whitepaper and roadmap as soon as possible.<br>
                            <br> Until then, we will continue to focus on the items mentioned in the first Solar whitepaper and roadmap.<br> For transparency, the original whitepaper and roadmap will remain visible from the V1 website. <br> Click on the
                            button below to view the V1 website.
                        </p>
                    </div>
                    <div class="mt-4">
                        <a href="https://v1.solar.org/roadmap" target="_blank" class="btn btn-primary">View V1 Roadmap <svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-arrow-right fea icon-sm">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}
<!---->
{% block javascripts %}
<!---->
{% endblock %}