{% extends 'components/layout.twig' %}
<!---->
{% block body %}

<body>
    <section class="bg-half-170 bg-light d-table w-100 d-print-none" style="padding-bottom:0px;">
        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="pages-heading">
                        <h4 class="title"> Staking </h4>
                    </div>
                </div>
            </div>

            <div class="position-breadcrumb">
                <nav aria-label="breadcrumb" class="d-inline-block">
                    <ul class="breadcrumb rounded shadow mb-0 px-4 py-2">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Staking</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 mt-4 pt-2">
                    <div class="card shadow rounded border-0 overflow-hidden">
                        <img src="assets/images/solar/voter.png" class="img-fluid" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Voter</h5>
                            <p class="text-muted">Due to its widespread use as filler text for layouts, non-readability is of great importance
                            </p>
                            <a href="javascript:void(0)" class="text-primary">Read More <i
                                class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-6 col-12 mt-4 pt-2">
                    <div class="card shadow rounded border-0 overflow-hidden">
                        <img src="assets/images/solar/delegate.png" class="img-fluid" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Delegate</h5>
                            <p class="text-muted">Due to its widespread use as filler text for layouts, non-readability is of great importance
                            </p>
                            <a href="javascript:void(0)" class="text-primary">Read More <i
                                    class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
        </div>
    </section>
</body>

{% endblock %}
<!---->
{% block javascripts %}
<!---->
{% endblock %}