{% extends 'components/layout.twig' %}
<!---->
{% block body %}

<body>
    <section class="bg-half-260 agency-wrapper d-table w-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7 order-1 order-md-2">
                    <div class="title-heading mt-4 ms-lg-5 ps-lg-5">
                        <h1 class="heading mb-3">Join the<br> Solar Blockchain
                        </h1>
                        <p class="para-desc text-muted">Contribute to the network by voting for delegates or use your skills to become a delegate.</p>
                        <div class="mt-4 pt-2">
                            <a href="#platform" class="btn btn-primary mt-2 me-2"> Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 order-2 order-md-1 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <img src="assets/images/solar/staking.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-0 bg-light">
        <div class="position-relative">
            <div class="shape overflow-hidden text-light">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <div class="container mt-100 mt-60">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2" style="margin-top:50px;">
                        <h4 class="title mb-4"><span class="text-primary">Staking and Participating</h4>
                        <p class="para-desc mb-0 mx-auto">The SXP Blockchain utilizes the DPoS (Delegated Proof of Stake Concensus).<br>
                        This means that there can only be 53 delegates operating and maintaining the blockchain network. <br>These delegates are
                        also known as node operators.
                        <br>
                        Delegates are chosen by the voters who are able to choose which delegate they prefer to operate and maintain the
                        network.<br>
                        As a voter you can earn from block rewards that are voluntarily shared by delegates.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-6 col-12 mt-4 pt-2">
                    <div class="card shadow rounded border-0 overflow-hidden">
                        <img src="assets/images/solar/voter.png" style="max-width:fit-content;align-self:center;padding:25px;" alt="">
                        <div class="card-body">
                            <h5 class="card-title text-center">Become a voter</h5>
                            <p class="text-muted">Simply by holding SXP coins in your wallet. You can enter the voting section and vote for your favorite delegate.
                            Before voting, we advise you to visit the delegate proposals website to see the proposed contributions from delegates or
                            simply start a talk with the delegates in the community channels.
                            </p>
                            <a href="https://delegates.solar.org" target="_blank" name="external" onclick="confirmExit(this.name)" class="text-primary">View Delegate Proposals <i
                                    class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-6 col-12 mt-4 pt-2">
                    <div class="card shadow rounded border-0 overflow-hidden">
                        <img src="assets/images/solar/delegate.png" style="max-width:fit-content;align-self:center;padding:25px;" alt="">
                        <div class="card-body">
                            <h5 class="card-title text-center">Become a delegate</h5>
                            <p class="text-muted">Do you have the technical skills to operate a node and secure a blockchain that is being used by users worldwide?
                            Are you willing to contribute to the Solar Ecosystem by enhancing our position in the market? Don't wait any longer and
                            learn more about delegates.
                            </p>
                            <a href="https://docs.solar.org/exchanges/node-installation/hardware-requirements/" target="_blank" name="external" onclick="confirmExit(this.name)" class="text-primary">Become a Delegate <i
                                    class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>


        </div>
    </section>
</body>

{% endblock %}
<!---->
{% block javascripts %}
<!---->
{% endblock %}