{% extends 'components/layout.twig' %} {% block body %}

<body>

    <!---->
    {% include "/sections/wallet/heading.twig" %}
    <!---->
    {% include "/sections/wallet/wallets.twig" %}

    <!---->

</body>
{% endblock %} {% block javascripts %}

<!---->
{% endblock %}