{% extends 'layout.twig' %} {% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">



    {% include "/blocks/navbar.twig" %}

    <section class="banner-7 bg_img oh bottom_right" data-background="./assets/images/banner/banner-bg-7.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="section-header  coverage-header">

                        <h2 class="title">Staking</h2>
                        <p>
                            The SXP Blockchain utilizes the DPoS (Delegated Proof of Stake Concensus). <br> This means that there can only be 53 delegates operating and maintaining the blockchain network. These delegates are also known as node operators.<br>
                            <br>These delegates are chosen by the voters who are able to choose which delegate they prefer to operate and maintain the network.<br> By being a voter, you don't need any technical knowledge in order to earn from block rewards.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Pricing Section Starts Here =============-->



    <!--============= Pricing Section Ends Here =============-->
    <section class="how-section padding-bottom padding-top pos-rel pb-xl-0 oh " id="how">
        <div class="bg-xl-100 bg_img"></div>
        <div class="top-shape d-none d-lg-block"><img src="./assets/css/img/work-shape.png" alt="css"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="client-header">
                        <div class="section-header cl-white mb-olpo">
                            <h5 class="cate">Voter or Delegate?</h5>
                            <h2 class="header-title">Participate</h2><br>
                            <p class="header-title">Having the right active delegate is important for the network. Usually each public delegate offers a share in rewards, sometimes in combination with additional contribution to the network or project.</p>
                            <p class="header-title">Sometimes voting for a delegate that shares less in block rewards might be more beneficial for you and for the project. A delegate can contribute to the security of the network or contribute towards marketing, community and
                                product development, which could return in short term or long term a better value for the asset and project. Learn more about the delegate proposals by clicking <a href="#" style="font-weight:600;color:orangered!important"
                                    target="_blank" name="external" onclick="confirmExit(this.name)">here</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-30-none">
                <div class="col-xl-6 col-sm-6">
                    <div class="how-item-3">
                        <div class="how-thumb">
                            <img src="./assets/images/how/how4.png" alt="how">
                        </div>
                        <div class="how-content">
                            <h4 class="title">Voter</h4>
                            <p>Simply by holding SXP coins in your wallet. You can enter the voting section and vote for your favorite delegate.<br> Before voting, we advise you to visit the delegate proposals website to see the proposed contributions from
                                delegates or simply start a talk with the delegates in the community channels.
                            </p>
                            <a href="#voter" class="button-3 active">Learn more <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-sm-6">
                    <div class="how-item-3">
                        <div class="how-thumb">
                            <img src="./assets/images/how/how5.png" alt="how">
                        </div>
                        <div class="how-content">
                            <h4 class="title">Delegate</h4>
                            <p>Do you have the technical skills to operate a node and secure a blockchain that is being used by users worldwide?<br> Are you willing to contribute to the Solar Ecosystem by enhancing our position in the market? Don't wait
                                any longer and learn more about delegates.
                            </p>
                            <a href="https://delegates.solar.org" target="_blank" class="button-3 active">Learn More<i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <section id="voter" class="how-section padding-bottom padding-top" id="how">
        <div class="container">
            <div class="section-header">
                <h5 class="cate">Voting</h5>
                <h2 class="title">How it works?</h2>
                <p>It's easier than you think. Follow the steps below!</p>
            </div>
            <div class="row justify-content-xl-between justify-content-center mb-40-none">
                <div class="col-lg-4 col-sm-6 col-xl-3">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="./assets/images/how/how1.png" alt="how">
                        </div>
                        <div class="how-content">
                            <a href="/desktop-wallet" target="_blank" name="external" onclick="confirmExit(this.name)" class="button-3">Download Wallet</a>
                            <h5 class="title">Download Wallet</h5>
                            <p>Download the Wallet for your operating system from the apps section.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="./assets/images/how/how2.png" alt="how">
                        </div>
                        <div class="how-content">
                            <a href="#0" class="button-3">Create Wallet Address</a>
                            <h5 class="title">Create Wallet Address</h5>
                            <p>Create a wallet address, secure your passphrase and hold SXP coins.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="./assets/images/how/how3.png" alt="how">
                        </div>
                        <div class="how-content">
                            <a href="https://delegates.solar.org" target="_blank" class="button-3">View Proposals</a>
                            <h5 class="title">View Proposals and Vote</h5>
                            <p>Find your favorite delegate proposal an vote for your delegate from within the wallet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--============= Comunity Section Starts Here =============-->
    <section class="comunity-section padding-top padding-bottom oh pos-rel">
        <div class="comunity-bg bg_img"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-header cl-white">
                        <h5 class="cate">Still unsure?</h5>
                        <h2 class="title header-title">Ask the community</h2>

                    </div>
                </div>
            </div>
            <div style="text-align:center;justify-content:center">
                <a href="/community" class="button-3 active">Community</a>
            </div>
        </div>
    </section>

    {% include "/blocks/footer.twig" %}
</body>
{% endblock %}