<div class="modal fade" id="jointhefoundation" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded shadow border-0">
            <div class="modal-body py-5">
                <div class="text-center">
                    <div class="icon d-flex align-items-center justify-content-center bg-soft-danger rounded-circle mx-auto" style="height: 95px; width:95px;">
                        <h1 class="mb-0"><i class="uil uil-heart align-middle"></i></h1>
                    </div>
                    <div class="mt-4">
                        <h4>Join the Foundation</h4>
                        <p class="text-muted">
                            Anyone can contribute to our ecosystem without becoming a member of the foundation.<br> Due to the nature of the industry, it is important to comply with NDA's, regulatory requirements and restrictions.<br> Becoming part of
                            the foundation will allow you to get closer to the project and contribute to more critical components of the project with a much higher level of responsibility.<br> Are you looking to become part of the Solar Blockchain Foundation
                            and contribute to our mission and vision?<br> Read below to learn more.
                        </p>
                        <p>
                            <b>The Solar Blockchain Foundation is actively looking for members that are able to contribute in the following areas.</b>
                        </p>
                        <ul style="text-align-last:initial;">
                            <li>Marketing, community and brand development</li>
                            <li>Legal challenges and advisory</li>
                            <li>Integration and partnership coordination</li>
                            <li>Research grants, projects, events and opportunities</li>
                            <li>Research technology and market demand</li>
                            <li>Public information certainty and accuracy</li>
                        </ul>
                        <p><b>Requirements to join our foundation in Estonia</b></p>
                        <ul style="text-align-last:initial;">
                            <li>Estonian e-residency <a href="https://www.e-resident.gov.ee/become-an-e-resident/" target="_blank" name="external" onclick="confirmExit(this.name)"><span class="badge rounded-pill bg-soft-primary">More info</span></a></li>
                            <li>Publicly disclose identity (real name)</li>
                            <li>Bound to strict internal NDA requirements</li>
                            <li>No criminal records</li>
                            <li>Not a Politically Exposed Person (PEP) <a href="https://en.wikipedia.org/wiki/Politically_exposed_persons" target="_blank" name="external" onclick="confirmExit(this.name)"><span
                                    class="badge rounded-pill bg-soft-primary">More info</span></a></li>
                            <li>Not sanctioned or from a country sanctioned by the EU</li>
                            <li>Able to contribute to the Solar Blockchain Foundation</li>
                        </ul>
                        <hr>
                        <p class="text-muted">
                            Ready to commit to the Solar Blockchain Foundation?<br> Click on the button below to apply!
                        </p>
                        <div class="mt-4">
                            <a href="https://forms.gle/Ywy1UpkVspwKtBfL9" target="_blank" name="external" onclick="confirmExit(this.name)" class="btn btn-outline-primary">Apply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>