{% extends 'layout.twig' %} {% block body %}

<body data-spy="scroll" data-target="#mobile-wallet-menu" data-offset="150">



    {% include "/blocks/navbar.twig" %}

    <!---->
    <!--============= Header Section Ends Here =============-->
    <section class="page-header bg_img oh" data-background="./assets/images/banner/banner-bg-7.jpg" style="background-image: url(&quot;./assets/images/banner/banner-bg-7.jpg&quot;);">
        <div class="bottom-shape d-none d-md-block">
            <img src="./assets/css/img/page-header.png" alt="css">
        </div>

        <div class="container header-container">
            <div class="page-header-content cl-white">
                <h2 class="header-title">FAQ</h2>

            </div>
        </div>
    </section>
    <!--============= Header Section Ends Here =============-->



    <!--============= Faqs Section Starts Here =============-->
    <section class="faq-section padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <aside class="sticky-menu">
                        <div class="faq-menu bg_img mb-30" data-background="./assets/images/faq/faq-menu.png">
                            <ul id="faq-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="#get">Getting Started</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#how">How Solar-Network works</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#plugin">Plugins</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#pricing">Pricing Plans</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#update">Updating the App</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#security">Security</a>
                                </li>
                            </ul>
                        </div>

                    </aside>
                </div>
                <div class="col-lg-8 col-xl-7">
                    <article class="mt-70 mt-lg-0">
                        <div class="faq--wrapper" id="get">
                            <h3 class="main-title">Getting Started</h3>
                            <div class="faq--area">
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">Who can use Solar Network?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>Solar, Solar Network and SXP are made for everyone. The ecosystem welcomes crypto and blockchain enthusiasts, enterprises, developers, students, merchants, consumers and anyone around to world to participate in
                                            decentralised activities.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">Do I need any technical knowledge?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>If you have access to internet, you can use Solar.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">What features does the Mobile App have?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq--wrapper" id="how">
                            <h3 class="main-title">How Solar-Network works</h3>
                            <div class="faq--area">
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">What’s special about Solar-Network?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">What problem does Solar-Network solve?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How does Solar differ from usual apps?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">More about early access</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq--wrapper" id="plugin">
                            <h3 class="main-title">Plugins</h3>
                            <div class="faq--area">
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How does integration works?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item open active">
                                    <div class="faq-title">
                                        <h6 class="title">How to use Solar-Network API?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How do plugins work?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq--wrapper" id="pricing">
                            <h3 class="main-title">Pricing Plans</h3>
                            <div class="faq--area">
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How much does Solar-Network cost?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How I can get Solar-Network for free?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">Can I cancel my account plan at any time?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq--wrapper" id="update">
                            <h3 class="main-title">Updating the App</h3>
                            <div class="faq--area">
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How can I edit my personal information?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How do I disable installed apps?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How do I disable installed apps?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq--wrapper" id="security">
                            <h3 class="main-title">Security</h3>
                            <div class="faq--area">
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How do I switch to a different price plan?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How can I get my money back?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">What about the security of my payments?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no
                                            magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!--============= Faqs Section Ends Here =============-->


    <!--============= Comunity Section Starts Here =============-->
    <section class="comunity-section padding-top padding-bottom oh pos-rel">
        <div class="comunity-bg bg_img"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-header cl-white">
                        <h5 class="cate">More questions and answers?</h5>
                        <h2 class="title header-title">Ask the community</h2>

                    </div>
                </div>
            </div>
            <div style="text-align:center;justify-content:center">
                <a href="/community" class="button-3 active">Community</a>
            </div>
        </div>
    </section>



    {% include "/blocks/footer.twig" %}
</body>
{% endblock %}