<div id="exchanges" class="layout-specing" style="margin-top:25px;margin-bottom:50px;">
    <div class="col-12 mt-4 pt-2">
        <div class="component-wrapper rounded shadow">
            <div class="p-4">
                <div class="table-responsive bg-white shadow rounded">
                    <table class="table table-hover mb-0 table-center">
                        <thead>
                            <tr>
                                <th scope="col" class="border-bottom">Exchange</th>
                                <th scope="col" class="border-bottom">Mainnet</th>
                                <th scope="col" class="border-bottom">ERC20 (deprecated)</th>
                                <th scope="col" class="border-bottom">BEP20 (deprecated)</th>
                                <th scope="col" class="border-bottom">BEP-2 (deprecated)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="border-top:2px solid #999999;">
                                <td><a href="https://www.bibox.com/zh/exchange/basic/SXP_USDT" target="_blank" name="external" onclick="confirmExit(this.name)">Bibox</a></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td><a href="https://www.bitget.com/en/spot/sxpusdt_SPBL" target="_blank" name="external" onclick="confirmExit(this.name)">Bitget</a></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td><a href="https://www.bithumb.com/trade/order/SXP_KRW" target="_blank" name="external" onclick="confirmExit(this.name)">Bithumb</a></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td><a href="https://www.bitmart.com/trade/en?symbol=SXP_USDT" target="_blank" name="external" onclick="confirmExit(this.name)">Bitmart</a></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td>Coinone</td>
                                <td><span class="badge bg-warning me-2 mt-2">Migrating</span></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td><a href="https://gate.io/trade/sxp_usdt" target="_blank" name="external" onclick="confirmExit(this.name)">Gate.io</a></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td><a href="https://www.hotbit.io/exchange?symbol=SXP_USDT" target="_blank" name="external" onclick="confirmExit(this.name)">Hotbit</a></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td>Huobi</td>
                                <td><span class="badge bg-warning me-2 mt-2">Migrating</span></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td><a href="https://www.jbex.com/exchange/SXP/USDT" target="_blank" name="external" onclick="confirmExit(this.name)">Jubi</a></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td><a href="https://www.kucoin.com/trade/SXP-BTC" target="_blank" name="external" onclick="confirmExit(this.name)">Kucoin</a></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td><a href="https://www.lbank.info/exchange/sxp/usdt" target="_blank" name="external" onclick="confirmExit(this.name)">Lbank</a></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td><a href="https://upbit.com/exchange?code=CRIX.UPBIT.KRW-SXP" target="_blank" name="external" onclick="confirmExit(this.name)">Upbit</a></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td><a href="https://whitebit.com/trade/SXP-USDT" target="_blank" name="external" onclick="confirmExit(this.name)">Whitebit</a></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>

                            <tr style="border-top: 2px solid #999999;">
                                <td>Binance</td>
                                <td><span class="badge bg-warning me-2 mt-2">Pending</span></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                            </tr>
                            <tr>
                                <td>Bitay</td>
                                <td><span class="badge bg-warning me-2 mt-2">Pending</span></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>

                            <tr>
                                <td>Bitstamp</td>
                                <td><span class="badge bg-warning me-2 mt-2">Pending</span></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td>Bittrex</td>
                                <td><span class="badge bg-warning me-2 mt-2">Pending</span></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>

                            <tr>
                                <td>HitBTC</td>
                                <td><span class="badge bg-warning me-2 mt-2">Pending</span></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>

                            <tr>
                                <td>Kraken</td>
                                <td><span class="badge bg-warning me-2 mt-2">Pending</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td>MEXC</td>
                                <td><span class="badge bg-warning me-2 mt-2">Pending</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td>Poloniex</td>
                                <td><span class="badge bg-warning me-2 mt-2">Pending</span></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                            <tr>
                                <td>Probit</td>
                                <td><span class="badge bg-warning me-2 mt-2">Pending</span></td>
                                <td><span class="badge bg-success me-2 mt-2">Supported</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                                <td><span class="badge bg-secondary me-2 mt-2">No</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span class="mt-2"> Market data provided by Coingecko</span>
            </div>
        </div>
    </div>
</div>