<section class="bg-half-260 agency-wrapper d-table w-100" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7 order-1 order-md-2">
                <div class="title-heading mt-4 ms-lg-5 ps-lg-5">
                    <h1 class="heading mb-3">Swap your <span class="text-primary">SXP</span> to mainnet.
                    </h1>
                    <p class="para-desc text-muted">Swipechain an initiative by Swipe.io has been rebranded to Solar Network. <br>Migrate your old Swipe(SXP) tokens to the mainnet network. </p>
                    <div class="mt-4 pt-2">
                        <a href="https://docs.solar.org/sxpswap/users/metamask/" target="_blank" name="external" onclick="confirmExit(this.name)" class="btn btn-outline-primary">Documentation</a>
                        <a href="https://swap.solar.org" target="_blank" name="external" onclick="confirmExit(this.name)" class="btn btn-primary me-2"> Swap Directly</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 order-2 order-md-1 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <img src="assets/images/solar/swap.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>